*
{
    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    width: 100dvw;
    overflow-x: hidden;
    background-color: aliceblue;
}
article
{
    min-height: 100vh;
    min-height: 100lvh;
    min-height: 100dvh;
    min-height: 100svh;

    display: grid;
    grid-template-areas: "header header header"
    "main main main"
    "Emir_Section Emir_Section Emir_Section"
    "FormElement FormElement FormElement"
    "Prof_Info Prof_Info Prof_Info"
    "footer footer footer";
    grid-template-columns: 1fr 4fr ;
}
:where(header, main, .Emir_Section, .FormElement, .Prof_Info, footer){
    padding: 1rem max(1rem, 5%);
    margin-bottom: 1rem;
}
header
{
    display: flex;
    z-index: 1;
    align-items: center;
    padding-inline: 1rem;
    justify-content: space-between;

    grid-area: header;
    position: relative;
    filter: drop-shadow(1px 2px 2px rgb(11,77,88));
}
header, footer
{
    background-color: rgb(121, 152, 180);
}
header .logo_icon img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
header .logo_icon p
{
    color: aliceblue;
    text-transform: uppercase;
    border-bottom: 5px double steelblue;
    font-size: clamp(.8rem, 3vw, 1.2rem);
}
header .menu__list
{
   font-size: clamp(.8rem, 3vw, 1.1rem);
}
.menu__list #NavList
{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
}
.menu__list #NavList .register 
{
    display: block;
    color: #222121;
    border-radius: .2rem;
    padding: .4rem .7rem;
    background-color: lime;

}
.menu__list #NavList .register:hover
{
    background-color: limegreen;
}
.menu__list #NavList .register:hover:after
{
    width: 0;
}
.menu__list #NavList li
{
    padding-inline: .6rem;
}
.menu__list #NavList li a
{
    color: #191911;
    text-decoration: none;
}
.menu__list #NavList li a::after
{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: .3s ease-in-out;
    background-color: aliceblue;
}
.menu__list #NavList li a:hover::after
{
    width: 100%;
    color: white;
}
.menu__list #NavList li a:hover
{
    color: white;
}
header #OpenMenu, .menu__list #CloseMenu
{
    display: none;
}
/* ending header style  */
main
{
    background-color: #ffffff;
    grid-area: main;;
}
.TextContainer .TextBox h2
{
    text-align: center;
    line-height: 1.1;
    color: #191919;
    margin-bottom: 1rem;
    font-size: max(1.8rem, 8%);
    font-size: clamp(1.5rem, calc(7vw + 1rem), 1.8rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .TextBox h2 .wrap
 {
    color: #9e9c9c;
    display: block;
    font-size: clamp(1rem, 7%, 1.3rem);
 }
h3
 {
    color: #191911;
    margin-top: max(.2rem, 2%);
   font-size: max(1.1rem, 1%);
   font-family: 'Arial Narrow', Arial, sans-serif;
 }
  .TextBox  .TextChild p
  {
    color: #5c5b5b;
    font-size: clamp(.7rem, 3vw, 1rem);
    font-family: 'Arial Narrow', Arial, sans-serif;
  }
/* multiple text  start*/
.Mutiple
{
    display: grid;
    column-gap: 3rem;
    align-items: start;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
  .multipleChild p, ol li
  {
    color: #5c5b5b;
    font-size: clamp(1rem, 8%, 1.3rem);
    font-family: 'Arial Narrow', Arial, sans-serif;
  }
  /* mutiple text end And with main style  */
.Emir_Section
{
    display: grid;
    gap: .4rem;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    grid-area: Emir_Section;
    background-color: #191911;
    padding-top: max(2rem, 7%);
    position: relative;
}
.Emir_Section h3
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.Emir_Section .profile
{
    height: 250px;
    position: relative;
    border-radius: .4rem;
    margin: 0;
    padding: max(.3rem, 3%);
}
.Emir_Section .profile .none
{
    object-fit: cover;
    object-position: top;
}
.Emir_Section .profile img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: .4rem;
}
.Emir_Section .profile .centerimage
{
    align-self: center;
}

.Emir_Section .profile span
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: aliceblue;
    text-align: center;
    padding-block: .3rem;
    background-color: #191919;
    font-family: "Calibri", sans-serif;
    text-transform: capitalize;
    font-size: clamp(1rem, 8%, 1.3rem);
}
.Emir_Section .profile span p
{
    display: inline;
}
/* ending emir section  */
.FormElement
{
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 360px 1fr;
    grid-area: FormElement;
    background-color: #ffffff;
}
.FormElement .FormBox
{
    overflow: hidden;
    position: relative;
    min-height: 450px;
}
.FormBox
{
    position: absolute;
 
}
.FormBox .step-row
{
    display: flex;
    position: relative;
    text-transform: capitalize;
    border-radius: .4rem .4rem 0 0;
}
.FormBox .step-row #progress
{
    position: absolute;
    width: 24%;
    height: 100%;
    z-index: -1;
    border-radius: .2rem;
    transition: 600ms ease-in-out;
}
.FormBox .step-row .step-col
{
    width: 100%;
    padding: .6rem .1rem;
    text-align: center;
    font-size: clamp(.7rem, 3vw, 1rem);
    background-color: rgb(135, 158, 180);
}
.author
{
    border: 3px solid transparent;
} 
.author figure
{
    display: flex;
    gap: max(.7rem, 2%);
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-inline: .5rem;
}
.author figure img
{
    width: 100px;
    height: 100px;
    align-self: flex-start;
    border-radius: 20%;
    border: 5px double lightgray;
}
.author figure figcaption h4
{
    color: rgb(41, 41, 41);
    font-weight: 600;
    font-size: clamp(.7rem, 3vw, 1rem);
    font-family: "Californian FB", sans-serif;
}
.author figure figcaption p
{
    color: rgb(83, 83, 83);
    font-family: Calibri, serif;
    padding: .2rem 1rem .6rem 0;
    font-size: clamp(.4rem, 3vw, .9rem);
}
/* ending progrees style  */
.FormBox .Form
{
    width: 100%;
    padding-bottom: 2rem;
    position: absolute;
    transition: 600ms ease-in-out;
}
.Form p
{
    color: aliceblue;
    padding: .5rem .3rem;
    text-transform: capitalize;
    background-color: #191919;
    margin-bottom: .6rem;
    font-size: clamp(.3rem, 3vw, 1.1rem);
}
.Form label
{
    color: #191919;
    display: block;
    margin-inline: 1rem;
    text-transform: capitalize;
    font-size: clamp(.3rem, 3vw, 1.1rem);
}
:where(.Form input, .Form select, .Form textarea)
{
    width: 90%;
    resize: none;
    outline: none;
    text-indent: 5px;
    margin-bottom: .4rem;
    padding-block: .4rem;
    margin-inline: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    font-size: clamp(.5rem, 3vw, 1rem);
}
.Form textarea
{
    height: 150px;
}
.Form #btn_con
{
    display: flex;
    gap: max(1rem, 3%);
    margin-top: .8rem;
    padding-inline-end: 1.5rem;
    justify-content: flex-end;
}
:is(#Next1,#Next2,#Next3,#submit)
{
    border: none;
    border-radius: .3rem;
    color: whitesmoke;
    padding: .4rem .7rem;
    background-color: lime;
    font-size: clamp(1rem, 3vw, 1.2rem);
    order: 1;
}
:is(#Next1,#Next2,#Next3,#submit):hover
{
    color: white;
    cursor: pointer;
    background-color: rgb(12, 59, 12);
}
:is(#Back1,#Back2,#Back3)
{
    border: none;
    border-radius: .2rem;
    color: whitesmoke;
    padding: .2rem .7rem;
    background-color: rgb(104, 6, 6);
    font-size: clamp(1rem, 3vw, 1.2rem);
}
:is(#Back1,#Back2,#Back3):hover
{
    cursor: pointer;
    padding: .2rem .7rem;
    background-color: rgb(177, 12, 12);
}
#Form1
{
    left: 0px;
}
#Form2
{
    left: 450px;
}
#Form3
{
    left: 450px;
}
#Form4
{
    left: 450px;
}
/* ending form Editing  */
.Prof_Info
{
    display: grid;
    justify-content: center;
    position: relative;
    padding-top: max(2rem, 5%);
    grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
    background-color: #191911;

    grid-area: Prof_Info;
}
.Prof_Info h3
{
   position: absolute;
   left: 50%;
   width: 100%;
   color: #ffffff;
   text-align: center;
   text-transform: capitalize;
   transform: translateX(-50%);
}
.Prof_Info .bk
{
    text-align: left;
    font-weight: 600;
    text-transform: capitalize;
    font-size: clamp(1rem, 3vw, 1.2rem);
}
.Prof_Info figure
{
    height: 250px;
    position: relative;
    margin: max(.3rem, 1%) .3rem;
}
.Prof_Info figure img
{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
    object-position: top;
}
.Prof_Info figure figcaption
{
    position: absolute;
    top: 0;
    color: #fffdfd;
    text-align: center;
    width: 100%;
    border-radius: .3rem .3rem 0 0;
    font-size: clamp(.6rem, 3vw, 1.1rem);
    background-color: hsla(0, 0%, 43%, 0.4);
}
footer
{
    height: calc(30vh - 0px);
    grid-area: footer;
    margin-bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
footer p
{
    color: #191911;
    width: calc(50% + 2%);
    font-size: min(1rem, 3vw);
    align-self: flex-end;
    text-align: center;
}
footer .social__links
{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-right: 1rem;
    padding: .2rem 0 .4rem .4rem;
    justify-content: space-between;
}
footer .social__links span
{
    color: blue;
    display: block;
    margin: .5rem;
    transform: scaleY(1.5);
    text-transform: capitalize;
}
footer .social__links a
{
    color: rgb(12, 59, 12);
    border-radius: 50%;
    transition: .3s ease;
    text-decoration: none;
    font-size: clamp(.6rem, 3vw, 1.1rem);
}
footer .social__links a:hover
{
    cursor: pointer;
    color: rgb(0, 0, 255);
}
footer .social__links a i
{
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}

@media screen and (min-width: 100px) and (max-width: 800px) {
    body{
        overflow-x: hidden;
        width: 100dvw;
        background-color: aliceblue;
    }
    header
{
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    justify-content: space-between;
    position: relative;
}
header .logo_icon p
{
    color: aliceblue;
    text-transform: uppercase;
    border-bottom: 5px double steelblue;
    font-size: clamp(.8rem, 3vw, 1.2rem);
}
header #OpenMenu
{
    width: fit-content;
    display: block;
    margin: .3rem;
    color: #ffffff;
    border-radius: 50%;
    padding: .25rem .4rem;
    background-color: rgba(10, 9, 9, .3);
    font-size: clamp(1.5rem, 5%, 3rem);
}
header #OpenMenu:hover
{
    cursor: pointer;
    background-color: rgba(10, 9, 9, .8);
}
header .menu__list
{
   position: fixed;
   right: -350px;
   top: 0;
   height: 150vh;
   width: 300px;
   transition: .3s ease-in-out;
   background-color: #fffdfd;
   font-size: clamp(.8rem, 3vw, 1.1rem);
}
.menu__list #NavList
{
    text-align: center;
    list-style: none;
    margin-top: 1rem;
    flex-direction: column;
    text-transform: capitalize;
    line-height: 3;
    gap: 0;
}
.menu__list #NavList
{
    list-style: none;
}
.menu__list #NavList li
{
    padding-inline: 0;
    background-color: rgb(164, 165, 165);
}
.menu__list #NavList li a
{
    display: block;
    color: #ffffff;
    text-decoration: none;
}
.menu__list #NavList li a::after
{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: .3s ease-in-out;
    background-color: aliceblue;
}
.menu__list #NavList li a:hover::after
{
    width: 100%;
    color: white;
}
.menu__list #NavList li a:hover
{
    color: #191911;
    background-color: rgb(104, 105, 105);
}
.menu__list #CloseMenu
{
    color: red;
    width: fit-content;
    display: block;
    margin: .1rem 1rem;
    border-radius: 50%;
    padding: .4rem .7rem;
    font-size: max(2rem, 7%);
}
.menu__list #CloseMenu:hover
{
    cursor: pointer;
    color: rgb(207, 24, 24);
}
.FormElement
{
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 1fr;
    grid-area: FormElement;
}
.FormElement .FormBox
{
    overflow: hidden;
    position: relative;
    min-height: 450px;
    order: 2;
}
.FormBox
{
    position: absolute;
 
}
.FormBox .step-row
{
    display: flex;
    position: relative;
    text-transform: capitalize;
    border-radius: .4rem .4rem 0 0;
    
}
.FormBox .step-row #progress
{
    position: absolute;
    width: 24%;
    height: 100%;
    border-radius: .2rem;
    transition: 600ms ease-in-out;
    
}
.FormBox .step-row .step-col
{
    width: 100%;
    padding: .6rem .1rem;
    text-align: center;
    font-size: clamp(.7rem, 3vw, 1rem);
    background-color: rgb(135, 158, 180);
    
}
.author
{
    border: 3px solid transparent;
} 
.author figure
{ 
    justify-content: center;
    padding-inline: .5rem;
}
.author figure img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px double lightgray;
}
.author figure figcaption h4
{
    color: rgb(41, 41, 41);
    font-weight: 600;
    font-size: clamp(.7rem, 3vw, 1rem);
    font-family: "Californian FB", sans-serif;
}
.author figure figcaption p
{
    color: rgb(83, 83, 83);
    font-family: Calibri, serif;
    padding: .2rem 1rem .6rem 0;
    font-size: clamp(.4rem, 3vw, .9rem);
}
/* ending progrees style  */
.FormElement .FormBox
{
    overflow: hidden;
    position: relative;
    width: 360px;
    min-height: 460px;
    margin: 0 auto;
}
.FormBox .Form
{
    width: 100%;
    padding-bottom: 2rem;
    position: absolute;
    transition: 600ms ease-in-out;
}
.Form p
{
    color: aliceblue;
    padding: .5rem .3rem;
    text-transform: capitalize;
    background-color: #191919;
    margin-bottom: .6rem;
    font-size: clamp(.3rem, 3vw, 1.1rem);
}
.Form label
{
    color: #191919;
    display: block;
    margin-inline: 1rem;
    text-transform: capitalize;
    font-size: clamp(.3rem, 3vw, 1.1rem);
}
:where(.Form input, .Form select, .Form textarea)
{
    width: 90%;
    resize: none;
    outline: none;
    text-indent: 5px;
    margin-bottom: .4rem;
    padding-block: .4rem;
    margin-inline: 1rem;
    font-size: clamp(.5rem, 3vw, 1rem);
}
.Form textarea
{
    height: 150px;
}
.Form #btn_con
{
    display: flex;
    gap: max(1rem, 3%);
    margin-top: .8rem;
    padding-inline-end: 1.5rem;
    justify-content: flex-end;
}

:is(#Next1,#Next2,#Next3,#submit)
{
    border: none;
    border-radius: .3rem;
    color: whitesmoke;
    padding: .4rem .7rem;
    background-color: lime;
    font-size: clamp(1rem, 3vw, 1.2rem);
    order: 1;
}
:is(#Next1,#Next2,#Next3,#submit):hover
{
    color: white;
    cursor: pointer;
    background-color: rgb(12, 59, 12);
}
:is(#Back1,#Back2,#Back3)
{
    border: none;
    border-radius: .2rem;
    color: whitesmoke;
    padding: .2rem .7rem;
    background-color: rgb(104, 6, 6);
    font-size: clamp(1rem, 3vw, 1.2rem);
}
:is(#Back1,#Back2,#Back3):hover
{
    cursor: pointer;
    padding: .2rem .7rem;
    background-color: rgb(177, 12, 12);
    font-size: clamp(1rgb(185, 12, 12)em);
}
#Form1
{
    left: 0px;
}
#Form2
{
    left: 450px;
}
#Form3
{
    left: 450px;
}
#Form4
{
    left: 450px;
}
footer
{
    height: calc(30vh - 0px);
    grid-area: footer;
    margin-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
footer p
{
    color: #191911;
    width: calc(50% + 2%);
    font-size: min(1rem, 3vw);
    align-self: flex-end;
    text-align: center;
}
footer .social__links
{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-right: 1rem;
    padding: .2rem 0 .4rem .4rem;
    justify-content: space-between;
}
footer .social__links span
{
    color: blue;
    display: block;
    margin: .5rem;
    transform: scaleY(1.5);
    text-transform: capitalize;
}
footer .social__links a
{
 
    color: rgb(12, 59, 12);
    border-radius: 50%;
    transition: .3s ease;
    text-decoration: none;
    font-size: clamp(.6rem, 3vw, 1.1rem);
}
footer .social__links a:hover
{
    cursor: pointer;
    color: rgb(0, 0, 255);
}
footer .social__links a i
{
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}

}